*{
    padding: 0;
    margin: 0;
    

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101820;
    
}

.box{
    width: fit-content;
    background-color: #101820;
    border: 2px solid #F2AA4C;
    padding: 10px;
    border-radius: 10px;
}


.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.search input{
   border: 0;
   outline: 0;
   background: #F2AA4C;
   color: #101820;
   padding: 10px 25px;
   height: 20px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 18px; 
}

.search button{
    border: 0;
    outline: 0;
    background: #F2AA4C;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather{
    background-color: #101820;
    padding: 10px;
    display: inline-block;
}

h2 , h4{
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    color: #F2AA4C;
    display: inline-block;
}

h4{
    font-size: 22px;
    font-weight: 600;  
}
